html, body {
	height: 100%;
}

#navbar {
   position: fixed;
   right: 0;
   top: 5;
   text-align: center;
}

#category {
   font-size: 1em;
   background-color: dodgerblue;
}

#frameDiv {
   width: 400px;
   height: 720px;
}

#frameDiv iframe {
   border: none;
   width: 100%;
   height: 100%;
}