html, body {
   margin: 0px;
   padding: 0px;
   height: 100%;
   overflow: hidden;
   background-color: white;
}

/*
#navbar {
   font-size: 1.5em;
   position: fixed;
   float: left;
   width: 100%;
}

#navbar button span {
	font-size: 1.5em;
}

#settingsButton {
   text-align: center;
   width: 100px;
   display: inline-block;
   background-color: red;
}

#nextButton {
   text-align: center;
   width: 50%;
   float: right;
   display: inline-block;
   background-color: green;
}*/

#topnav {
   font-size: 1.5em;
   text-align: center;
   list-style-type: none;
   width: 100%;
   height: 7%;
}

#editButton {
   background-color: green;
   width: 20%;
   height: 100%;
   float: left;
}

#nextButton {
   background-color: blue;
   width: 80%;
   height: 100%;
   float: right;
}

#category {
   background-color: gray;
}

#frameDiv {
   width: 100%;
   height: 93%;
}

#frameDiv iframe {
   border: none;
   width: 100%;
   height: 100%;
}