html, body {
	height: 100%;
}

#navbar {
   width: 150px;
   height: 70px;
   position: fixed;
   margin-left: 50%;
   text-align: center;
   background-color: green;
}

#category {
   font-size: 1em;
}

#frame {
   border: none;
   width: 100%;
   height: 100%;
}

#frameDiv {
   width: 100%;
   height: 100%;
}